.form-container {
  width: 40%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Source Sans Pro", sans-serif;
}

.form-header-container {
  text-align: center;
  margin-bottom: 5px;
}

.form-header {
  color: #4639a7;
  font-size: 50px;
  font-weight: lighter;
  margin-bottom: inherit;
}

.form-control {
  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 0px;
  color: #4639a7;
  font-weight: bolder;
}
