/**
 * A button that will open the modal containing
 * the form to create a new project.
 *
 * @author Harmon Transfield
 */

.btn.btn-show-modal {
  transition: 0.3s;
  float: right;
}

.modal-header {
  border-bottom: 0;
  height: 5px;
}
