/**
 * The form where users can create a new project
 * and add it to their list of projects.
 *
 * @author Harmon Transfield
 */

/* || Container */
.form-container {
  justify-content: center;
  margin: 20px;
}

.form-header-container {
  text-align: center;
  margin-bottom: 5px;
}

.form-header {
  color: #4639a7;
  font-size: 50px;
  font-weight: lighter;
  margin-bottom: inherit;
}

.form-control {
  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 0px;
  color: #4639a7;
  font-weight: bolder;
}

.btn.btn-submit-project {
  border: none; /*  Remove the border set by react-bootstrap */
}

.alert.alert-success {
  margin-top: 15px;
  margin-bottom: 0px;
}
