/* .card.project-entry {
  width: 70em;
} */

.card-title {
  color: #4639a7;
  display: inline-block;
  margin-right: 2em;
  margin-left: 1em;
}

.card.project-entry {
  width: 70em;
  border-radius: 0px;
}

.card-details {
  float: left;
}

.card-subtitle {
  display: inline;
}

.card-text.text-dates {
  float: right;
}

.card-text.text-dates.start-date {
  margin-right: 5em;
}
